*{
    margin: 0;
}
body{
    background-image: url("/multimedia/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ah{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.ah:hover{
    color: white;
    text-decoration: underline;
}
.b_apps{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 15px;
}
.b_apps:hover{
    background: rgba(153, 153, 153, 0.2);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login_b{
    background: white;
    color: #808080;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 25px;
}
.Login_b:hover{
    background: rgba(255, 255, 255, 0.7);
    color: #2c2c2c;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 5px 25px;
}