*{
    margin: 0;
    overflow: hidden;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ah{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.ah:hover{
    color: white;
    text-decoration: underline;
}
.b_apps{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 15px;
}
.b_apps:hover{
    background: rgba(153, 153, 153, 0.2);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login_b{
    background: white;
    color: #808080;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 25px;
}
.Login_b:hover{
    background: rgba(255, 255, 255, 0.7);
    color: #2c2c2c;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 25px;
}
.google_Area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 15vh;
}
.google_Img{
    padding-bottom: 15px;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.search_bar{
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: stretch;
    max-height: max-content;
    background-color: aliceblue;
    border-radius: 25px;
}
.search_bar_R{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.search_bar i{
    margin: 10px;
    color: #808080;
}
.fa-microphone:hover{
    color:#505050;
}
.fa-camera-retro:hover{
    color:#505050;
}
.downsearch_b{
    background: white;
    color: #808080;
    font-weight: 500;
    font-size: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 25px;
}
.downsearch_b:hover{
    background: rgba(255, 255, 255, 0.7);
    color:#505050;
    font-weight: 500;
    font-size: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 25px;
}
/* RECENT APPS styles section */
footer{
    position:fixed;
    bottom:0;
    width: 100%;
}
footer .p1{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #808080;
}
.p1 span{
    margin-left: 10px;
    padding-top: 5px;
    color: #ffffff;
    font-size: 15px;
}
footer hr{
    margin: 0;
    border-top: 3px solid #ffffff;
}
.p2{
    border-top: 1px solid #505050;
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: end;
}
.b1{
    float: left;
}
.b1 a{
    font-size: 15px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}
.b1 a:hover{
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 10px;
}
.b2{
    float: right;
}
.b2 a{
    font-size: 15px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}
.b2 a:hover{
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 10px;
}
